<%= form_for tarefa do |f| %>
	<p>Projeto: <%= f.text_field :projeto %></p>
	<p>Responsavel: <%= f.text_field :responsavel %></p>
	Descricao:
	<p><%= f.text_area :descricao %></p>
	<%= f.submit %>
<% end %>