<div id="resutlado">
	<table>
		<tr>
			<th>Descricao</th>
			<th>Responsavel</th>
			<th>Projeto</th>
			<th></th>
			<th></th>
		</tr>
		<% lista_tarefa.each do |tarefa| %>
			<tr>
				<td><%= tarefa.descricao %></td>
				<td><%= tarefa.responsavel %></td>
				<td><%= nome_projeto tarefa.projeto %></td>
				<td><%= link_to 'Alterar', edit_projeto_tarefa_path(tarefa.projeto, tarefa) %></td>
				<td><%= link_to 'Remover', projeto_tarefa_path(tarefa.projeto,tarefa), :remote => true, :method => :delete %></td>
			</tr>
		<%end%>		
	</table>	
</div>
