<h2> Lista de Tarefas </h2>

<div id="form_tarefa">
	<%= link_to 'Nova Tarefa', '#', :id => 'cria_nova_tarefa' %>
	<div style="display:none">
		<%=render :partial => 'tarefas/form', :locals => {:tarefa => Tarefa.new(:projeto_id => @projeto.id)}%>
		<%= link_to 'cancela', '#', :id =>'nova_tarefa_cancela' %>
	</div>
</div>
<br/>
<br/>

<div id="resutlado">
	<%= render :partial => 'lista_tarefa', :object => @tarefas %>
</div>

<%=content_for :js do%>
	<%= javascript_include_tag "nova_tarefa" %>
<%end%>