<h1>Nova Tarefa</h1>

<%= form_for @tarefa do |f| %>
  <p>
    <%= f.label :descricao %>
    <%= f.text_area :descricao, size: '70x7' %>
    <% if @tarefa.errors.messages[:descricao] %>
    <p>
      <ul>
      <% @tarefa.errors.messages[:descricao].each do |e| %>
        <li><%= e %></li>
      <%end%>
      </ul>
    </p>
    <%end%>
  </p>
  <p>
    <%= f.label :responsavel %>
    <%= f.text_field :responsavel %>
  </p>
  <p>
    <%= f.submit 'Enviar' %>
  </p>
<%end%>