<% title "Tarefa" %>

<p>
  <strong>Descricao:</strong>
  <%= @tarefa.descricao %>
</p>
<p>
  <strong>Data Finalizacao:</strong>
  <%= @tarefa.data_finalizacao %>
</p>
<p>
  <strong>Colaborador:</strong>
  <%= @tarefa.colaborador_id %>
</p>
<p>
  <strong>Projeto:</strong>
  <%= @tarefa.projeto_id %>
</p>

<p>
  <%= link_to "Editar", edit_projeto_tarefa_path(@tarefa.projeto, @tarefa) %> |
  <%= link_to "Deletar", projeto_tarefa_path(@tarefa.projeto, @tarefa), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Voltar", projeto_path(@tarefa.projeto) %>
</p>
