<h1>Projetos</h1>

<%= link_to 'Novo Projeto', new_projeto_path %>
<br/>
<table>
  <tr>
    <th>Nome</th>
    <th>Responsavel</th>
    <th>Data de Entrega</th>	  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr>
	<td><%=projeto.nome%></td>
	<td><%=projeto.responsavel%></td>
	<td><%=projeto.data_entrega%></td>
    <td><%= link_to 'Altera', edit_projeto_path(projeto) %></td>
    <td><%= link_to 'Remove', projeto,
		 	confirm: 'Are you sure?' %>
	</td>
  </tr>
<% end %>
</table>

<br />
