<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @projeto.nome %>
</p>

<p>
  <b>Data entrega:</b>
  <%= @projeto.data_entrega %>
</p>


<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
