<%= form_for :projeto, :url => {:action => :create} do |f| %>
	<%= erros_para @projeto %>	
	<fieldset>
	Nome: <%= f.text_field :nome %> <br/>
	Descricao:<br/> <%= f.text_area :descricao, :rows=>5, :cols=>100 %> <br/>
	Data Inicio: <%= f.date_select :data_inicio, :order=>[:day, :month, :year] %> 
	</fieldset>
	<p>
		<%= f.submit %>
	</p>
<% end %>